
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-twitter-1:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-1:before { content: '\e807'; } /* '' */
.icon-star-2:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-search-1:before { content: '\e80c'; } /* '' */
.icon-phone-outline:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80f'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-github-1:before { content: '\f055'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
