body{
    overflow-x: hidden;
}

.headTop {
    height: 80px;
    z-index: 99;

    >.row {
        height: 100%;

        >* {
            height: 100%;
        }
    }

    .menueHam {
        transform: rotate(90deg);
        cursor: pointer;
    }

    .deskMenue {
        >ul {
            >li {
                >a {
                    text-transform: uppercase;
                    letter-spacing: 6px;
                    font-size: 16px;
                    line-height: 0.4;
                    font-weight: 800;

                    &:hover {
                        color: #80b435;
                    }
                }
            }
        }
    }
}

// ....................................................
.slider {
    width: 100%;
    height: 100vh;

    .carousel-item {
        position: relative;
    }

    .textSlider {
        >h5 {

            text-transform: capitalize;
            color: #80b435;
            line-height: 0;
            left: 20%;
            font-family: 'Abril Fatface', cursive;
            font-family: 'DM Serif Display', serif;
            font-family: 'Lato', sans-serif;
            font-family: 'MonteCarlo', cursive;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Noto Sans Arabic', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Rouge Script', cursive;

        }

        >p {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-style: italic;
            left: 20%
        }

        >h4 {

            left: 20%;
            font-weight: 300;
            text-transform: capitalize;
            color: #bababa;
            font-weight: 300;
        }

        >* {
            position: absolute;

        }
    }
}

// ....end slider......

.FlowesShop {
    width: 100%;
    height: auto;

    >.part1 {
        >figure {
             transition: 2s;
            >img {
                transition: all 0.25s ease 0s;
                


                &:hover {
                    transform: scale(1.1);

                }

            }

            >figcaption {
                top: 77%;
                left: 5%;
                font-size: 26px;
                font-weight: 700;
                margin: 0;
                color: #000;
                line-height: 1;
                z-index: 99;
                transform: translateX(2000px);
            }

            >h3 {
                top: 86%;
                left: 5%;
                color: #80b435;
                font-size: 16px;
                z-index: 99;
            }
        }


    }

    >.part2 {

        >.row {

            >figure {
                transition: 2s;


                >img {
                    transition: all 0.25s ease 0s;
                   

                    &:hover {
                        transform: scale(1.1);

                    }
                }

                >figcaption {
                    top: 30%;
                    left: 5%;
                    font-size: 26px;
                    font-weight: 700;
                    margin: 0;
                    color: #000;
                    line-height: 1;
                    z-index: 99;
                }

                >h3 {
                    top: 60%;
                    left: 5%;
                    color: #80b435;
                    font-size: 16px;
                    z-index: 99;
                }

            }
        }
    }
}

// .....................// end .FlowesShop.......
.note {
    width: 100%;
    height: auto;

    >div:nth-of-type(2) {
        >ul {
            >li {
                position: relative;

                >a {
                    color: #6f6d6d;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 0.2;

                    &:hover {
                        color: #80b435;
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -9px;
                        left: 0;
                        width: 2px;
                        height: 20px;
                        background-color: #80b435;
                    }


                }


            }
        }
    }
}

// .....end note...
.basketFllower {
    width: 100%;
    height: auto;

    >*figure {

        >figcaption {
            >div:nth-of-type(1) {
                >a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #9E9E9E;
                    transition: all 0.25s ease 0s;
                    font-weight: 500;


                }
            }
        }

    }

    >figure:nth-of-type(1) {
        position: relative;
        // border: 2px solid black;

        >.pic-btn1 {
            position: relative;
            overflow: hidden;

            >.pic2 {

                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;

                opacity: 0;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);

                }

            }

            >.icons {
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 20px;
                color: #9E9E9E;

            }

        }


    }

    // ....................................................
    >figure:nth-of-type(2) {
        position: relative;
        // border: 2px solid black;

        >.pic-btn1 {
            position: relative;
            overflow: hidden;

            >.pic2 {

                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;

                opacity: 0;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);

                }

            }

            >.icons {
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 20px;
                color: #9E9E9E;

            }

        }


    }

    // ...........................................
    >figure:nth-of-type(3) {
        position: relative;
        // border: 2px solid black;

        >.pic-btn1 {
            position: relative;
            overflow: hidden;

            >.pic2 {

                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;

                opacity: 0;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);

                }

            }

            >.icons {
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 20px;
                color: #9E9E9E;

            }

        }


    }

    // .............................................................
    >figure:nth-of-type(4) {
        position: relative;
        // border: 2px solid black;

        >.pic-btn1 {
            position: relative;
            overflow: hidden;

            >.pic2 {

                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;

                opacity: 0;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);

                }

            }

            >.icons {
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 20px;
                color: #9E9E9E;

            }

        }


    }

}

// ....................................end flower basket.......

.info {
    width: 100%;
    height: auto;


    >div>div:nth-of-type(1) {
        >a {
            display: block;

            >i {
                font-size: 60px;

                &:hover {
                    color: #80b435;
                }
            }
        }

        >.lip {
            display: flex;
            justify-content: center;
            align-items: center;

            >h4 {
                font-size: 20px;
            }

            >p {
                text-align: center;
                padding: 0 43px;
                line-height: 24px;
                color: #9E9E9E;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
            }
        }
    }

    // ............1......
    >div>div:nth-of-type(2) {
        >a {
            >i {
                font-size: 60px;

                &:hover {
                    color: #80b435;
                }
            }
        }

        >.lip {
            display: flex;
            justify-content: center;
            align-items: center;

            >h4 {
                font-size: 20px;
            }

            >p {
                text-align: center;
                padding: 0 43px;
                line-height: 24px;
                color: #9E9E9E;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
            }
        }
    }

    // .............2.......
    >div>div:nth-of-type(3) {
        >a {
            >i {
                font-size: 60px;


                &:hover {
                    color: #80b435;
                }
            }
        }

        >.lip {
            display: flex;
            justify-content: center;
            align-items: center;

            >h4 {
                font-size: 20px;
            }

            >p {
                text-align: center;
                padding: 0 43px;
                line-height: 24px;
                color: #9E9E9E;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
            }
        }
    }

}

// .......................................info end....

.paraslider {
    background-color: #80b435;
    width: 100%;
    margin: 0;
    padding: 0;

    >div {
        >div:nth-of-type(2) {
            >div {
                >div {
                    >.develop {
                        color: #80b435;
                    }
                }
            }

        }




    }
}

// .............................
.Speial {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    color: #000;
    line-height: 45px;
    font-weight: 900;
}

.basketFllower {
    width: 100%;
    height: auto;




    >*figure {

        >figcaption {
            >div:nth-of-type(1) {
                >a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #9E9E9E;
                    transition: all 0.25s ease 0s;
                    font-weight: 500;


                }
            }
        }

    }

    >figure:nth-of-type(1) {
        position: relative;
        // border: 2px solid black;

        >.pic-btn1 {
            position: relative;
            overflow: hidden;

            >.pic2 {

                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;

                opacity: 0;

                &:hover {
                    opacity: 1;
                    transform: scale(0.9);

                }

            }

            >.icons {
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 20px;
                color: #9E9E9E;

            }

        }


    }
}

// ...........................flower2....
.Mark {

    background-color: rgba(228, 255, 211, 0.451);

    >span {
        >a {
            >img {
                background-color: #92af8ebb;
                border-radius: 4px;

                &:hover {
                    transform: scale(1.1);

                }

            }
        }
    }
}

// .......................................mark end........
.footerMob {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    width: 100%
}

.foterDesk {
    background-color: #b4f3a875;

  
}
  #so1{
        >a{
            >i{
&:hover{
    color: #80b435;
}
            }
        }
    }

    #so2{
        >a{
            &:hover{
                color: #80b435;
            }
        }
    }
    
    #so3{
        >a{
            &:hover{
                color: #80b435;
            }
        }
    }
    
    #so4{
        >a{
            &:hover{
                color: #80b435;
            }
        }
    }